<div class="contentAboutMe">
    <div class="containerAboutMe">
      <div class="headerAboutMe">
        <span>Sobre min</span>
      </div>
      <div class="discriptionAboutMe">
        <span
          >Sou um estudante de Analise e Desenvolvimento de Sistemas no inicio
          da minha carreira como Desenvolvedor de software , possuo facilidade
          em dominar tecnologia distintas . 
                        O junior de Hoje é o Senior de amanhã </span
        >
      </div>
      <button>Vamos conversar</button>
    </div>
    <div>
      <img src="/assets/img/profile.png" alt="Perfil " />
      <div class="sektionArrowLeft" ><img src="/assets/img/arrow_left.png" alt="" /></div>
    </div>
  </div>