<div class="header">
    <div class="headerContainer"><div>Habilidades</div></div>
    <div class="skillContainer">
      <div>
        @for(img of iconPath; track img){
        <img src="/assets/img/{{ img }}" alt="Minhas habilidades" />
        }
      </div>
  
      <div>
        @for(img of iconPath2; track img){
        <img src="/assets/img/{{ img }}" alt="Minhas Habilidades" />
        }
      </div>
    </div>
    <img class="arrowRight" src="assets/img/arrow_right.png" alt="Seta">
  </div>
  
